<div class="container" id="album-info">
    <div class="row">
        <div class="col-sm-4">
            <img src={{images.[1].url}}>
        </div>
        <div class="col-sm-8" sytle="vertical-align:middle">
            <h4 class="text-dark">{{artistName}} - {{name}}</h4>
        </div>
    </div>
            
    <table class="table table-hover mt-5 ml-5 mr-5">
        <thead>
            <tr>
                <th scope="col">Artist</th>
                <th scope="col">Name</th>
                <th scope="col">Duration</th>
                <th scope="col">Link</th>
                {{#if username}}
                    <th scope="col"></th>
                {{/if}}
            </tr>
        </thead>
        <tbody id="album-info-table-body">
            {{#each tracks as |track|}}
            <tr>
                <td>{{track.artist.name}}</td>
                <td>{{track.name}}</td>
                <td>{{track.duration}}</td>
                <td><a href="{{track.url}}">Go To Song</a></td>
                {{#if ../username}}
                <td>
                    <div class="dropright">
                        <button type="button" id="addTrackToPlaylistBtn" class="btn btn-outline-primary"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Add to Playlist
                        </button>
                        <div class="dropdown-menu" aria-labelledby="addTrackToPlaylistBtn">
                            {{#each ../playlists as |playlist|}}
                                <a class="dropdown-item" onclick="addToPlaylist({{playlist.id}}, {{track.url}})">{{playlist.name}}</a>
                            {{/each}}
                        </div>
                    </div>
                </td>
                {{/if}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


